.product {
  height: 320px;
  width: 250px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(231, 223, 223);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prodimg {
  height: 120px;
  width: 120px;
  object-fit: contain;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  border-radius: 5px;
  border: 1px solid gray;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  transition: transform 0.2s ease;
}

.button:active {
  transform: scale(0.95);
}

.product h4 {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  flex-grow: 1;
}

.product p {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 10px 0;
}

.filterwrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
  align-items: center;
}

.filter {
  border-radius: 5px;
  border: 1px solid gray;
  color: white;
  background-color: black;
  /* height: 10px; */
  padding: 10px;
  text-align: center;
}

select {
  border-radius: 5px;
  width: 150px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}
